@{

}

<div class="centered-content">

    <div class="Create-new-list-container">

        <h1 class="heading">Signup</h1> 
        
        <form asp-action="AddUser" asp-controller="Task" method="post">

            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Username" name="UserName">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" name="UserEmail">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" name="UserPassword">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success" type="submit">
                        Signup
                    </button>
                </p>
            </div>
        </form>

    </div>
        
</div>
